# Rename to '.env' or pass required items to environment when running.

# REDDIT_APIKEY [REQUIRED]
# REDDIT_SECRET [REQUIRED]
#   To prevent reddits low ratelimits for non-authenticated requests
#   provide api key and secret.
#   aquire personal use script credentials here: https://www.reddit.com/prefs/apps

REDDIT_APIKEY=
REDDIT_SECRET=

# XMPP_USERNAME [REQUIRED]
# XMPP_PASSWORD [REQUIRED]
#   To authenticate with xmpp for requesting VCard information.

XMPP_USERNAME=
XMPP_PASSWORD=

# HTTP_LISTEN [RECOMMEND]
#   To set the listen address/port (default: :9061)

HTTP_LISTEN=

# BASE_URL [RECOMMEND]
#   To set external facing url. It will try to guess hostname and port based on the HTTP_LISTEN.

BASE_URL=

# XMPP_URL [OPTIONAL]
#   To set XMPP http url for VCard verification. (default: BASE_URL)

XMPP_URL=

# DNS_URL [OPTIONAL]
#   To set DNS http url for DNS verification. (default: BASE_URL)

XMPP_URL=
